<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">家庭記帳本</a>
  </div>
</nav>

<div class="container d-flex flex-column align-items-end col-md-9">
  <div class="container d-flex flex-column col-sm-8">
    <form action="/" method="GET" class="mt-3">
      <select class="form-select" name="category" id="category-filter" data-value="{{category}}"
        aria-label="Default select">
        <option value="" selected>類別</option>
        {{#each categories}}
        <option value="{{this._id}}">{{this.title}}</option>
        {{/each}}
      </select>
    </form>

    <div class="d-flex justify-content-evenly mt-3">
      <div>總金額</div>
      <div style="color: orange;font-size:3vw">{{totalAmount}}</div>
    </div>

    <div class="container">
      {{#each records}}
      <div class="row d-flex align-items-center">
        <div class="col col-md-2">
          <a href="/?category={{this.category._id}}">
            <i class="fas {{this.category.icon}}" style="font-size: 1.5vw;"></i>
          </a>
        </div>
        <div class=" col-md-6">
          <p class="fs-3">{{this.name}}</p>
          <p class="fs-5">{{toDate this.date}}</p>
        </div>
        <div class="col-md-1 text-end">
          {{this.amount}}
        </div>
        <div class="col-md-3">
          <a href="/records/{{this._id}}/edit" class="btn btn-primary ">修改</a>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal"
            data-bs-target="#exampleModal{{this._id}}">
            刪除
          </button>
        </div>
      </div>


      <!-- Modal -->
      <div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">刪除項目</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>您確定要刪除{{this.name}}嗎?</p>
            </div>
            <div class="modal-footer">
              <form action="/records/{{this.id}}?_method=DELETE" method="POST">
                <button type="button" class="btn btn-danger">確定</button>
              </form>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            </div>
          </div>
        </div>
      </div>

      {{/each}}
      <div class="row d-flex justify-content-center mt-3">
        <a href="/records/new" class="btn btn-warning" style="font-size: 1.5vw;">新增支出</a>
      </div>
    </div>